{{!-- <div>Education page in progress</div> --}}
<main>
    {{#with main}}
    <main>
        <section>
            <div class="row">
                <div class="col-12">
                    <div class="row g-2">
                        <div class="col-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h1> {{> title data='My education:' big=true}}
                                    </h1>
                                </div>
                                <ul class="ps-5">
                                    {{#each education}}
                                    <li>{{name}}</li>
                                    {{#if isEnd}} (В процесі) {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        </section>

        <section>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">

                        <h3>{{> title data="My certificates:"}}</h3>
                    </div>
                    <ul class="ps-5">
                        <div class="card-body">
                            {{#each certificates}}

                            <li>{{name}} ({{id}})</li>

                            {{/each}}
                        </div>
                    </ul>
        </section>
    </main>
    {{/with}}
    </div>
    </div>

</main>