{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    <div class="container mb-4">
        <div class="row mb-4">
            <div class="col-6 mb-4">
                <div class="row">
                    <h1 class="mb-3 text-center">Project</h1>
                </div>
                <div>
                    <p>Full - Stack Developer
                        I worked hard to gain experience in Full-stack development. I am confident in my
                        ability to create high-quality and well-functioning web sites and applications. I am a
                        hard worker and a team player. I am always willing to put in the extra effort to get the
                        job done. I also believe in working collaboratively with my team members to achieve
                        common goals..</p>
                </div>

                <div>
                    <a href="/skills" type="button" class="btn btn-primary mb-3">Skills</a>
                </div>
                <div>
                    <a href="/summary" type="button" class="btn btn-primary mb-3">Summary</a>
                </div>
                <div>
                    <a href="/education" type="button" class="btn btn-primary mb-3">Education</a>
                </div>
                <div>
                    <a href="/work" type="button" class="btn btn-primary mb-3">Work</a>
                </div>

                <div>
                    <a href="/shophome" type="button" class="btn btn-primary mb-3">Shop home</a>
                </div>
                <div>
                    <a href="/shopcatalog" type="button" class="btn btn-primary mb-3">Shop catalog</a>
                </div>
                <div>
                    <a href="/shopprofile" type="button" class="btn btn-primary mb-3">Shop profile</a>
                    <div>
                        <a href="/shopnews" type="button" class="btn btn-primary mb-3">Shop news</a>
                        <div>
                            <a href="/shopproduct" type="button" class="btn btn-primary mb-3">Shop product</a>
                        </div>
                        <div>
                            <a href="/shopreview" type="button" class="btn btn-primary mb-3">Shop review</a>
                            <div>
                                <a href="/shoporder" type="button" class="btn btn-primary mb-3">Shop order</a>
                                <div>
                                    <a href="/shopcart" type="button" class="btn btn-primary mb-3">Shopcart</a>
                                </div>
                                <div>
                                    <a href="/bio" type="button" class="btn btn-primary mb-3">Bio</a>
                                </div>
                                <div>
                                    <a href="/web" type="button" class="btn btn-primary mb-3">Web</a>

                                </div>
                                <div>
                                    <a href="/task21" type="button" class="btn btn-primary mb-3">Task21</a>
                                </div>
                                <div>
                                    <a href="/task22" type="button" class="btn btn-primary mb-3">Task22</a>
                                </div>
                                <div>
                                    <a href="/task31" type="button" class="btn btn-primary mb-3">Task31</a>
                                </div>

                            </div>
                        </div>
</main>