{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	{{#with person}}
	<main>
		<div>
			{{> title data='Person' big=true}}
			{{#with person}}
			<div>{{name}}</div>
			{{/with}}
		</div>
		{{/with}}

		<div>
			{{#with person}}
			<main>
				<div>
					{{> title data='Person' big=true}}
					{{#with person}}
					<div>{{name}}</div>
					{{/with}}
				</div>
				{{/with}}
		</div>
</div>