{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
	{{#with main}}
	<main>
		<section class="mb-5">
			<div>
				<h2>{{> title data=summary.title}} </h2>

			</div>
			<div>
				<p>
					{{summary.text}}
				</p>
			</div>
		</section>

		<section>
			<div>
				<h2>{{experiens.title}}</h2>
			</div>
			<div>
				<p>
					{{> experiens}}
				</p>
			</div>
		</section>
	</main>
	{{/with}}